[workspace]
members = []
resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2021"
authors = ["Andrew Laustrup"]

[workspace.dependencies]
# Common dependencies will be added as modules are created

