[package]
name = "nft-dgen"
version.workspace = true
edition.workspace = true
authors.workspace = true

[lib]
crate-type = ["rlib"]

[dependencies]
serde = { workspace = true }
thiserror = { workspace = true }
bincode = { workspace = true }
